.box{
    background-color: aqua;
   /* transform:translate(100px,50px);*/
   /* transform:rotate(-45deg);*/
   margin:200px;
   transform:scale(1.5,1);
   transform:scale(1.5,1);
   transform:scale(1.5,1);




}